$blue: #5351ce;
$white: #ffffff;
$black: #202020;
$gray: #d4d4d4;
$red: #f5222d;
$green: #52c41a;
$dark-gray: #4a4a4a;
$orange: #efab15;
$dark-white: #e8e8e8;
$light-blue: #17aae2;

$max-width-form: 600px;
